name: Unit Tests
on:
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: '24'
    - name: Install dependencies
      run: npm ci
    - name: Run Unit tests
      run: npm run test